<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SSW TimePRO - Timesheets</title>
    <script src="/sdk/scripts/VSS.SDK.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/ladda/dist/ladda-themeless.min.css" />
    <link rel="stylesheet" href="/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="/lib/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/site.min.css"/>
    <link rel="stylesheet" href="/css/sweet-alert.min.css"/>
    <link rel="stylesheet" href="/lib/angular-hotkeys/build/hotkeys.min.css" />

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) {
                t[config] = function () {
                    var i = arguments;
                    t.queue.push(function () { t[config].apply(t, i) })
                }
            }

            var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u;
            for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop());
            return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) {
                var s = u && u(config, r, f, e, o);
                return s !== !0 && t["_" + i](config, r, f, e, o), s
            }), t
        }({
            instrumentationKey: "0b0bc414-eae9-4c24-95bf-5db20bad24d8"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body ng-app="app">
    <div class="my-splitter horizontal splitter toggle-button-enabled" data-initial-size="350" data-collapsed-label="Project Settings">
        <div class="leftPane" ng-controller="ProjectSettingsHubController as ps">
            <div class="container-fluid">
                <div class="hub-title hub-title-custom" title="">Project Settings</div>

                <div class="hub-content-custom">
                    <p class="alert alert-success" ng-if="ps.success.save">
                        You have successfully linked TimePRO this project.
                    </p>

                    <div class="row" ng-if="!ps.loading.page && !ps.configured">
                        <div class="col-sm-12">
                            <h3>Let's Get Started</h3>
                            <p>Head over to the Administration page to sign in to your SSW TimePRO instance.</p>
                            <a href="{{ps.webContext.account.uri}}DefaultCollection/_admin/_apps/hub/sswtv.sswtimepro.ssw-timepro-collection-admin-hub" target="_blank">DefaultCollection Administration Page</a>
                        </div>
                    </div>

                    <div class="row" ng-if="ps.loading.page">
                        <div class="col-sm-12">
                            <label>Checking if you're logged in...</label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="ps.loading.projects">
                        <div class="col-sm-12">
                            <label>Getting all projects...</label>
                            <p>This might take 30 seconds.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="ps.configured && !ps.loading.page && !ps.loading.projects">
                        <div class="row" ng-if="!ps.mode.projectSelected || ps.mode.editProject">
                            <div class="col-sm-12">
                                <strong>Select a Project</strong>
                                <p>To start using this quick timesheet entry screen you need to do the following:</p>
                                <ul>
                                    <li>Navigate to your instance of TimePRO and;</li>
                                    <li>Add a Client</li>
                                    <li>Add a Project</li>
                                    <li>Add at least one Project Iteration</li>
                                </ul>
                                <p>Once you've completed those steps, enter your Project ID below and we'll link that TimePRO project to this VisualStudio.com project.</p>

                                <div class="form-group">
                                    <label>Project ID</label>
                                    <!--<input type="text" ng-model="ps.settingsForm.projectId" class="form-control-vsts"/>-->
                                    <!--<select ng-model="ps.settingsForm.projectId" ng-options="project.ProjectID as project.ProjectName for project in ps.projects" class="form-control-vsts"></select>-->
                                    <div id="project-combo-container"></div>
                                    <p>ProjectID: {{ps.settingsForm.projectId}}</p>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="" loading-button="ps.loading.save" data-spinner-color="#333" ng-click="ps.save()">Save Settings</button>
                                </div>
                                <p class="alert alert-danger" ng-if="ps.error.save">
                                    Project not found. Please check the ID and try again.
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-if="ps.mode.projectSelected && !ps.mode.editProject">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <strong>Current Project</strong>
                                    <p>
                                        Currently linked to: <strong>{{ps.settingsForm.projectName}}</strong>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <button type="button" ng-click="ps.editProject()">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="handleBar"></div>
        <div class="rightPane" ng-controller="TimesheetHubController as vm">
            <div class="container-fluid full-height">
                <div class="hub-title hub-title-custom" title="">
                    <span>Timesheets - {{vm.projectName}}</span>
                </div>
                <div class="logo-wrapper">
                    <a href="https://www.ssw.com.au" target="_blank">
                        <img src="/images/ssw-logo.png" height="50" class="pull-right" />
                    </a>
                    <p class="text-right"><a href="https://rules.ssw.com.au/rules-to-better-timesheets" target="_blank">Rules to Better Timesheets</a></p>
                </div>
                <div class="hub-content-custom full-height hub-content-custom-scrolling">
                    <div class="row" ng-if="!vm.loading.page && !vm.configured">
                        <div class="col-sm-12">
                            <h3>Let's Get Started</h3>
                            <p>Head over to the Administration page to sign in to your SSW TimePRO instance.</p>
                            <a href="{{vm.webContext.account.uri
}}DefaultCollection/_admin/_apps/hub/sswtv.sswtimepro.ssw-timepro-collection-admin-hub" target="_blank">DefaultCollection Administration Page</a>
                        </div>
                    </div>

                    <div class="row" ng-if="!vm.loading.page && vm.configured && !vm.projectId">
                        <div class="col-sm-12">
                            <h3>One last step!</h3>
                            <p>To start using this quick timesheet entry screen you need to do the following:</p>
                            <ul>
                                <li>Navigate to your instance of TimePRO and;</li>
                                <li>Add a Client</li>
                                <li>Add a Project</li>
                                <li>Add at least one Project Iteration</li>
                            </ul>
                            <p>Once you've completed those steps, enter your Project ID into the Project Settings tab and we'll link that TimePRO project to this VisualStudio.com project.</p>
                            <a href="{{vm.webContext.account.uri}}DefaultCollection/{{vm.webContext.project.name}}/_apps/hub/sswtv.sswtimepro.ssw-timepro-project-settings" target="_blank">Project Settings Tab</a>
                        </div>
                    </div>

                    <div class="row" ng-if="vm.loading.page">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <label>Checking if you're logged in...</label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.configured && vm.projectId && !vm.loading.page">
                        <div ng-if="!vm.loggedIn" ng-cloak>
                            <p>To get started, please login below.</p>
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" ng-model="vm.loginForm.username" class="form-control" ng-keyup="$event.keyCode == 13 && vm.login()"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" ng-model="vm.loginForm.password" class="form-control" ng-keyup="$event.keyCode == 13 && vm.login()"/>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-block" ng-click="vm.login()" loading-button="vm.loading.login">Login</button>
                                    </div>
                                    <p class="alert alert-danger" ng-if="vm.error.login">
                                        Login failed. Please check your settings and try again.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.loggedIn" ng-cloak>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <a class="btn btn-default" ng-click="vm.changeDay(-1)"><i class="fa fa-chevron-left"></i></a>
                                    <a class="btn btn-default" ng-click="vm.changeDay(1)"><i class="fa fa-chevron-right"></i></a>
                                </div>
                                <label>Currently Logged In As:</label>
                                <span>
                                    <strong>{{vm.currentUserId}}</strong>
                                </span>
                                <p class="pull-right">
                                    <a href="#" class="" ng-click="vm.disconnect()" loading-button="vm.loading.disconnect">Disconnect</a>
                                </p>
                            </div>
                        </div>
                        <div class="" ng-if="vm.loggedIn" ng-cloak>
                            <div class="col-sm-12 col-md-5ths" ng-repeat="day in vm.currentDays">
                                <timesheet-entry-day
                                    timesheet-date="day"
                                    current-user-id="vm.currentUserId"
                                    current-user-email="vm.currentUserEmail"
                                    project-id="vm.projectId"
                                    account-name="vm.accountName"
                                    is-git-repository="vm.isGitRepository"
                                    git-rest-client="vm.gitRestClient"
                                    tfvc-rest-client="vm.tfvcRestClient"
                                    vsts-project-id="vm.webContext.project.id"
                                    vsts-user-id="vm.currentUserVstsId"
                                    git-repositories="vm.repositories"
                                    q="vm.Q"
                                    show-all-commits="vm.showAllCommits"></timesheet-entry-day>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- bower:js -->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/spin.js/spin.js"></script>
    <script src="/lib/ladda/dist/ladda.min.js"></script>
    <script src="/lib/angular-hotkeys/build/hotkeys.min.js"></script>
    <!-- endbower -->
    <script src="/lib/ladda/dist/ladda.jquery.min.js"></script>
    <script src="/lib/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.min.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/timesheetHub/timesheetHub.js"></script>
    <script src="/app/timesheetEntryDay/timesheetEntryDay.js"></script>
    <script src="/app/projectSettingsHub/projectSettingsHub.js"></script>
    <script src="/app/adminCollection/adminCollection.js"></script>
    <script src="/app/timeproApi/timeproApi.js"></script>
</body>
</html>