<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SSW TimePRO - Timesheets</title>
    <script src="/sdk/scripts/VSS.SDK.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/ladda/dist/ladda-themeless.min.css"/>
    <link rel="stylesheet" href="/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
    <link rel="stylesheet" href="/lib/Font-Awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/site.min.css"/>
</head>
<body ng-app="app" ng-controller="TimesheetHubController as vm">
    <div class="container-fluid">
        <h1>Timesheets</h1>

        <div class="row" ng-if="!vm.loading.page && !vm.configured">
            <div class="col-sm-12">
                <h3>Let's Get Started</h3>
                <p>Head over to the Administration page to sign in to your SSW TimePRO instance.</p>
                <a href="{{vm.webContext.account.uri}}DefaultCollection/_admin/_apps/hub/bencull.sswtimepro.ssw-timepro-collection-admin-hub" target="_blank">DefaultCollection Administration Page</a>
            </div>
        </div>

        <div class="row" ng-if="!vm.loading.page && vm.configured && !vm.projectId">
            <div class="col-sm-12">
                <h3>One last step!</h3>
                <p>To start using this quick timesheet entry screen you need to do the following:</p>
                <ul>
                    <li>Navigate to your instance of TimePRO and;</li>
                    <li>Add a Client</li>
                    <li>Add a Project</li>
                    <li>Add at least one Project Iteration</li>
                </ul>
                <p>Once you've completed those steps, enter your Project ID into the Project Settings tab and we'll link that TimePRO project to this VisualStudio.com project.</p>
                <a href="{{vm.webContext.account.uri}}DefaultCollection/{{vm.webContext.project.name}}/_apps/hub/bencull.sswtimepro.ssw-timepro-project-settings" target="_blank">Project Settings Tab</a>
            </div>
        </div>

        <div class="row" ng-if="vm.loading.page">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <label>Checking if you're logged in...</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.configured && vm.projectId && !vm.loading.page">
            <div ng-if="!vm.loggedIn" ng-cloak>
                <p>To get started, please login below.</p>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" ng-model="vm.loginForm.username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" ng-model="vm.loginForm.password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" ng-click="vm.login()" loading-button="vm.loading.login">Login</button>
                        </div>
                        <p class="alert alert-danger" ng-if="vm.error.login">
                            Login failed. Please check your settings and try again.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="vm.loggedIn" ng-cloak>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a class="btn btn-default" ng-click="vm.changeDay(-1)"><i class="fa fa-chevron-left"></i></a>
                        <a class="btn btn-default" ng-click="vm.changeDay(1)"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.loggedIn" ng-cloak>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <h3>{{vm.timesheetDate | date: 'EEE, d MMMM yyyy'}}</h3>

                    <p class="text-danger" ng-if="!vm.existingTimesheet">No timesheet for today</p>
                    <p class="text-success" ng-if="vm.existingTimesheet">Timesheet complete</p>

                    <div class="form-group">
                        <label>Hours</label>
                        <input type="text" ng-model="vm.timesheetForm.Hours" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label>Extra Notes:</label>
                        <textarea rows="4" ng-model="vm.timesheetForm.Notes" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" loading-button="vm.loading.save" ng-click="vm.saveTimesheet()">Save Timesheet</button>
                    </div>

                    <label>Currently Logged In As:</label>
                    <span>
                        <strong>{{vm.currentUserId}}</strong>
                    </span>
                    <p class="pull-right">
                        <a href="#" class="" ng-click="vm.disconnect()" loading-button="vm.loading.disconnect">Disconnect</a>
                    </p>
                </div>
                <div class="col-sm-6 col-md-8 col-lg-9">
                    <h3>&nbsp;</h3>
                    <p>&nbsp;</p>
                    <label>Select Check-ins</label>
                    <!--<span>
                        <a href="#">All</a>
                        <a href="#">None</a>
                    </span>-->
                    <div class="row" ng-if="vm.loading.checkins">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <label>Loading checkins / commits...</label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!vm.loading.checkins">
                        <p ng-if="!vm.allCheckins || vm.allCheckins.length == 0">No checkins found for today</p>
                        <div class="list-group" ng-if="vm.allCheckins">
                            <a class="list-group-item" ng-repeat-start="item in vm.allCheckins" ng-class="{'active': item.active2}" ng-click="vm.toggleActive(item)">
                                <div class="checkbox checkbox-primary pull-left">
                                    <input type="checkbox" ng-checked="item.active">
                                    <label></label>
                                </div>
                                <h4 class="list-group-item-heading">{{item.comment}}</h4>
                                <p class="list-group-item-text"><strong>{{item.createdDate | date: 'h:mm a'}}</strong> - {{item.createdDate | date: 'EEE, d MMMM yyyy'}}</p>
                            </a>
                            <a class="list-group-item" ng-repeat-end ng-repeat="workItem in item.workItems" ng-click="vm.toggleActive(workItem)" style="margin-left:20px;">
                                <div class="checkbox checkbox-primary pull-left">
                                    <input type="checkbox" ng-checked="workItem.active">
                                    <label></label>
                                </div>
                                <span class="text-muted">Work Item</span>
                                <h5 class="list-group-item-heading">{{workItem.title}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- bower:js -->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/spin.js/spin.js"></script>
    <script src="/lib/ladda/dist/ladda.min.js"></script>
    <!-- endbower -->
    <script src="/lib/ladda/dist/ladda.jquery.min.js"></script>
    <script src="/lib/moment/moment.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/timesheetHub/timesheetHub.js"></script>
    <script src="/app/projectSettingsHub/projectSettingsHub.js"></script>
    <script src="/app/adminCollection/adminCollection.js"></script>
</body>
</html>